<h1>About</h1>

<p> 
	<%= link_to "Mike Kilcoyne", "http://mikekilcoyne.com"%>
	is a project to do whatever.
	<%= link_to "Ruby on Rails", "http://rubyonrails.org"%>
	bunch of stuff regarding whatever.
</p> 
