<div class="hero-unit">
	<h1>Welcome to Awesometown!</h1>
	<p>
		This is where Michael Kilcoyne resides. It's a sad, dark, dank and empty place. But don't let that discourage you! Explore! OH WAIT YOU CAN'T CUZ THERE ARE NO OTHER PAGES.
		<%= link_to "Mike Kilcoyne", "http://mikekilcoyne.com" %> 
	</p>
			<p>
			<%= link_to "Danger Will Robinson, Danger!", "#" , class: "btn btn-primary btl-mini"%> 
			</p> 
</div> 